<%- include ("partials/header.ejs") %>
    <div class="container">
        <form action="/check" method="POST">
            <div class="form-group">
                <label for="femail">Username</label>
                <input type="email" name="femail" class="form-control" id="femail" aria-describedby="emailHelp"
                    placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="fpassword">Password</label>
                <input type="password" name="fpassword" class="form-control" id="fpassword" placeholder="Password">
            </div>
            <% if (locals.checked) { %>
                <% if (!locals.authoried) { %>
                    <p class="invalid-login">*Invalid login credential</p>
                    <% } %>
                        <% } %>
                            <button type="submit" class="btn btn-primary mt-3 mb-3">Login</button>
        </form>
    </div>
    <%- include("partials/footer.ejs")%>